.block_text {
  padding-top: 80px;
}

.block_nav_text {
  display: flex;
  padding-bottom: 40px;
}

.dark_nav_text {
  color: var(--color-grey-800);
}

.light_nav_text {
  color: var(--color-grey-600);
}

.head_text {
  font-size: 72px;
  font-weight: bold;
  color: var(--color-grey-900);
  padding-bottom: 24px;
}

.first_text {
  color: var(--color-grey-700);
  padding-bottom: 115px;
}
