.breadcrumbs {
  padding-top: 80px;
}

.breadcrumbs__list {
  display: flex;
  padding-bottom: 40px;
  gap: 8px;
}

.breadcrumbs__link {
  color: var(--color-text-third);
}

.breadcrumbs__link--active {
  color: var(--color-grey-600);
}
