.page__block__footer {
  display: flex;
  flex-direction: column;
}

.footer__up__block {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 80px;
  gap: 200px;
}

.info__company {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 445px;
}

.talk__company {
  display: flex;
  flex-direction: row;
  gap: 60px;
}

.messangers__company {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
}

.messanger {
  opacity: 0.6;
  background: none;
  border: none;
  padding: 0;
}

.company__desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--color-white);
  opacity: 0.6;
}

.description__mail {
  display: flex;
  flex-direction: column;
}

.mail__block {
  display: flex;
  flex-direction: row;
  padding-top: 24px;
  max-width: 400px;
}

.input__mail {
  flex: 1;
  border: 1px solid rgb(255 255 255 / 20%);
  border-radius: 4px 0 0 4px;
  background: rgb(255 255 255 / 12%);
}

.input__mail::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--color-white);
  padding-left: 16px;
  opacity: 0.6;
}

.button__subscribe {
  border: none;
  border-radius: 0 4px 4px 0;
  padding: 0 32px;
  background-color: var(--color-orange);
  font-weight: 700;
  font-size: 14px;
  line-height: 314%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-white);
}

.desc__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  color: var(--color-white);
}

.annotation__mail {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: var(--color-white);
  opacity: 0.6;
}

.footer__middle__block {
  display: flex;
  flex-direction: row;
  padding-top: 49px;
  gap: 125px;
}

.title {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-white);
  padding-bottom: 13px;
}

.info__line {
  display: flex;
  flex-direction: row;
  padding-bottom: 4px;
}

.text__strong {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: var(--color-white);
}

.text__light {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: var(--color-white);
  opacity: 0.6;
}

.copyright {
  display: flex;
  flex-direction: row;
  padding-top: 60px;
  padding-bottom: 80px;
  justify-content: space-between;
  align-items: center;
}

.text__copyright {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  gap: 2px;
}

.CC__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: var(--color-white);
}

.heart__img {
}

.go__to__top {
  display: flex;
  flex-direction: row;
}

.go__to__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--color-white);
  padding-top: 19px;
  padding-right: 19px;
}

.go__to__button {
  border: none;
  border-radius: 4px;
  background-color: var(--color-orange);
  padding: 8px;
}
