.footer {
  display: flex;
  flex-direction: column;
}

.footer__up-segment {
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 40px;
  gap: 40px;
}

.footer__up-info {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 100%;
}

.footer__up-talk {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer__up-messangers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}

.messanger {
  opacity: 0.6;
  background: none;
  border: none;
  padding: 0;
}

.footer__up-desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--color-primary);
  opacity: 0.6;
}

.footer__up-description-mail {
  display: flex;
  flex-direction: column;
}

.footer__up-mail {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
  max-width: 100%;
  gap: 8px;
}

.footer__up-mail-input {
  flex: 1;
  border: 1px solid rgb(255 255 255 / 20%);
  border-radius: 4px;
  background: rgb(255 255 255 / 12%);
  min-height: 44px;
}

.footer__up-mail-input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--color-primary);
  padding-left: 16px;
  opacity: 0.6;
}

.footer__up-mail-button {
  border: 1px solid transparent;
  border-radius: 4px;
  width: 100%;
  padding: 12px;
  background-color: var(--color-orange);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-primary);
}

.footer__up-mail-button:hover {
  border: 1px solid var(--color-orange);
  background-color: var(--color-primary);
  color: var(--color-orange);
}

.footer__up-description-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  color: var(--color-primary);
}

.footer__up-mail-annotation {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: var(--color-primary);
  opacity: 0.6;
}

.footer__middle__segment {
  display: flex;
  flex-direction: column;
  padding-top: 32px;
  gap: 40px;
}

.footer__middle-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-primary);
  padding-bottom: 13px;
}

.footer__middle-info-line {
  display: flex;
  flex-direction: row;
  padding-bottom: 4px;
}

.footer__middle-text--strong {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: var(--color-primary);
}

.footer__middle-text--light {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: var(--color-primary);
  opacity: 0.6;
}

.footer__middle-copyright {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 32px;
  padding-bottom: 40px;
  justify-content: center;
  align-items: center;
}

.footer__middle-copyright-content {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  gap: 2px;
}

.footer__middle-CC-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: var(--color-primary);
}

.footer__middle-heart-img {
}

@media (--md-viewport) {
  .footer__up-segment {
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    padding-top: 60px;
  }

  .footer__up-talk {
    flex-direction: row;
    gap: 40px;
  }

  .footer__up-messangers {
    grid-template-columns: repeat(5, 1fr);
    gap: 16px;
  }

  .footer__up-mail {
    flex-direction: row;
    max-width: 400px;
    gap: 0;
  }

  .footer__up-mail-input {
    border-radius: 4px 0 0 4px;
  }

  .footer__up-mail-button {
    border-radius: 0 4px 4px 0;
    width: auto;
    padding: 0 32px;
    line-height: 314%;
  }

  .footer__middle__segment {
    flex-direction: row;
    gap: 60px;
    padding-top: 49px;
  }

  .copyright {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 80px;
    gap: 0;
  }
}

@media (--lg-viewport) {
  .footer__up-segment {
    gap: 120px;
  }

  .footer__middle__segment {
    gap: 100px;
  }
}

@media (--xl-viewport) {
  .footer__up-segment {
    gap: 200px;
  }

  .footer__middle__segment {
    gap: 125px;
  }
}
