.navbar {
  display: flex;
  flex-direction: row;
  padding-top: 20px;

  /* padding: 20px 345px; */
  align-items: center;
  justify-content: space-between;
}

.navbar__menu {
  display: flex;
  flex-direction: row;
  padding-left: 60px;
  padding-right: 172px;
  gap: 40px;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
}

.navbar__logo {
  display: flex;
  flex-direction: row;
  gap: 3px;
}

.navbar__link:hover {
  color: var(--color-orange);
  cursor: pointer;
}

.navbar__actions {
  display: flex;
  flex-direction: row;
  gap: 36px;
}

.navbar__action {
  display: flex;
  flex-direction: row;
  gap: 12px;
}
