.navbar {
  display: flex;
  flex-direction: row;
  padding-top: 20px;

  /* padding: 20px 345px; */
  align-items: center;
  justify-content: space-between;
}

.navbar_menu {
  display: flex;
  flex-direction: row;
  padding-left: 60px;
  padding-right: 172px;
  gap: 40px;
}

.navbar_logo {
  display: flex;
  flex-direction: row;
}

.navbar_action {
  display: flex;
  flex-direction: row;
  gap: 36px;
}

.action_content {
  display: flex;
  flex-direction: row;
  gap: 12px;
}
