.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page_navbar {
  flex-shrink: 0;
  background-color: var(--color-grey-200);
  background-image: url('/images/background.png');
  background-repeat: no-repeat;
  background-position: right;
  background-size: 60%;
}

.page_content {
  flex-grow: 1;
}

.page_benefits {
  background-color: var(--color-grey-900);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page_portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-white);
}

.page_pricing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-grey-200);
}
