.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page__header {
  flex-shrink: 0;
  background-color: var(--color-back);
  background-image: url('/images/background.png');
  background-repeat: no-repeat;
  background-position: right;
  background-size: 60%;
}

.page__content {
  flex-grow: 1;
}

.page__benefits {
  background-color: var(--color-text);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page__portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary);
}

.page__pricing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-back);
  background-image: url('/images/background1.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 30%;
}

.page__form {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url('/images/building_back.png');
}

.page__footer {
  background-color: var(--color-text);
}
