.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio__head {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 60px;
  align-items: center;
}

.portfolio__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 130%;
  color: var(--color-text);
  text-align: center;
}

.portfolio__arrows {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 12px;
  padding-top: 16px;
}

.portfolio__arrow-btn {
  all: unset;
  cursor: pointer;
}

.portfolio__projects-grid {
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 32px;
  gap: 16px;
  align-items: stretch;
}

.portfolio__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  padding-bottom: 12px;
  box-shadow:
    0 4px 4px -4px rgb(30 33 44 / 3%),
    0 12px 10px -6px rgb(154 156 165 / 4%),
    0 30px 24px -10px rgb(154 156 165 / 5%),
    0 80px 80px -20px rgb(154 156 165 / 8%);
}

.portfolio__item:hover .portfolio__item-btn {
  visibility: visible;
  box-shadow:
    0 4px 4px -4px rgb(30 33 44 / 5%),
    0 12px 10px -6px rgb(154 156 165 / 8%),
    0 30px 24px -10px rgb(154 156 165 / 10%),
    0 80px 80px -20px rgb(154 156 165 / 16%);
}

.portfolio__item-img {
  width: 100%;
  height: 345px;
  object-fit: cover;
}

.portfolio__item-title {
  padding-top: 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: var(--color-text);
}

.portfolio__item-desc {
  padding-top: 4px;
  padding-bottom: 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  text-align: center;
  color: var(--color-text-secondary);
}

.portfolio__item-btn {
  visibility: hidden;
  border: 1px solid var(--color-orange);
  bottom: 20px;
  border-radius: 4px;
  padding: 0 32px;
  font-weight: 700;
  font-size: 14px;
  line-height: 314%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-orange);
  background-color: var(--color-primary);
}

.portfolio__item-btn:hover {
  background-color: var(--color-orange);
  color: var(--color-primary);
}

.portfolio__all {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 60px;
  gap: 16px;
  align-items: center;
}

.portfolio__all-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: var(--color-text);
  text-align: center;
}

.portfolio__all-btn {
  padding: 8px 16px;
  font-weight: 700;
  font-size: 14px;
  line-height: 250%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  background-color: var(--color-orange);
  color: var(--color-primary);
  border-radius: 4px;
  border: 1px solid transparent;
}

.portfolio__all-btn:hover {
  border: 1px solid var(--color-orange);
  background-color: var(--color-primary);
  color: var(--color-orange);
}

@media (--md-viewport) {
  .portfolio__head {
    flex-direction: row;
    justify-content: space-between;
    gap: 32px;
    padding-top: 100px;
  }

  .portfolio__title {
    font-size: 36px;
  }

  .portfolio__arrows {
    gap: 16px;
    padding-top: 24px;
  }

  .portfolio__projects-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding-top: 40px;
  }

  .portfolio__item-title {
    font-size: 18px;
  }

  .portfolio__item-desc {
    font-size: 14px;
  }

  .portfolio__item-btn {
    font-size: 14px;
    padding: 0 24px;
  }

  .portfolio__all {
    flex-direction: row;
    gap: 24px;
    padding-top: 60px;
    padding-bottom: 80px;
  }

  .portfolio__all-title {
    font-size: 24px;
  }

  .portfolio__all-btn {
    font-size: 16px;
    padding: 0 24px;
  }
}

@media (--lg-viewport) {
  .portfolio__head {
    gap: 64px;
    padding-top: 120px;
  }

  .portfolio__title {
    font-size: 42px;
  }

  .portfolio__projects-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    padding-top: 50px;
  }

  .portfolio__item-btn {
    padding: 0 32px;
  }
}

@media (--xl-viewport) {
  .portfolio__head {
    gap: 795px;
    padding-top: 154px;
  }

  .portfolio__title {
    font-size: 46px;
  }

  .portfolio__arrows {
    gap: 24px;
    padding-top: 36px;
  }

  .portfolio__projects-grid {
    gap: 30px;
    padding-top: 60px;
  }
}
