.first_block_content {
  padding-top: 120px;
  background-color: var(--color-white);
}

.first_block_bunner {
  display: flex;
  flex-direction: row;
  gap: 105px;
  padding-bottom: 180px;
}

.bunner_title {
  font-size: 46px;
  line-height: 130%;
  font-weight: bold;
  color: var(--color-grey-900);
  padding-bottom: 60px;
}

.block_title {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.bunner_minus_title {
  font-size: 28px;
  line-height: 150%;
  color: var(--color-grey-900);
}

.bunner_minus_desc {
}

.bunner_plus_title {
  font-size: 28px;
  line-height: 150%;
  color: var(--color-grey-900);
}

.minus_block {
  display: flex;
  flex-direction: column;
}

.plus_block {
  display: flex;
  flex-direction: column;
}

/* .bunner_minus_desc {
  padding-left: 44px;
} */
.info_title {
  font-size: 46px;
  line-height: 130%;
  color: var(--color-grey-900);
  padding-bottom: 60px;
}

.info_block {
  padding-bottom: 120px;
}

.how_we_do {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.how_we_do_item {
  display: flex;
  flex-direction: column;
}

.number_item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 23px;
}

.digit_item {
  font-size: 46px;
  line-height: 130%;
  color: var(--color-grey-400);
  font-weight: bold;
}

.title_item {
  font-size: 20px;
  line-height: 150%;
  color: var(--color-grey-900);
}

.item_desc {
  font-size: 16px;
  line-height: 160%;
  color: var(--color-grey-700);
}
