:root {
  --color-white: #fff;
  --color-black: #1d1d1d;
  --color-orange: #ff5a30;
  --color-green: #03cea4;
  --color-red: #ff4242;
  --color-yellow: #f89828;
  --color-blue: #5a87fc;
  --color-grey-900: #1e212c;
  --color-grey-800: #424551;
  --color-grey-700: #787a80;
  --color-grey-600: #9a9ca5;
  --color-grey-500: #b3b7bc;
  --color-grey-400: #d7dadd;
  --color-grey-300: #e5e8ed;
  --color-grey-200: #f4f5f6;
  --color-grey-100: #f9f9f9;
}
